/* ----- ================= ----- */
/* ----- Custom Porperties ----- */
/* ----- ================= ----- */

:root {

    /* font-sizes */
    --fs-900: 4.209rem;
    --fs-800: 3.157rem;
    --fs-700: 2.369rem;
    --fs-600: 1.777rem;
    --fs-500: 1.333rem;
    --fs-400: 1rem;
    --fs-300: .75rem;
    --fs-200: .563rem;
    --fs-100: .422rem;
}