@font-face {
    font-family: Quicksand;
    font-weight: 500;
    font-display: swap;
    src: local(""), url("../assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
    font-family: Quicksand;
    font-weight: 700;
    font-display: swap;
    src: local(""), url("../assets/fonts/Quicksand-Bold.ttf");
}



/* ----- ================= ----- */
/* ----- Custom Porperties ----- */
/* ----- ================= ----- */


:root {

    /* font-families */
    --ff-quicksand: Quicksand, monospace;

    /* font-sizes */
    --fs-1000: 7.4rem;
    --fs-900: 6.209rem;
    --fs-800: 4.301rem;
    --fs-700: 2.369rem;
    --fs-600: 1.177rem;
    --fs-500: 1.033rem;
    --fs-400: 1rem;
    --fs-300: .65rem;
    --fs-200: .463rem;
    --fs-100: .322rem;

    /* colors */
    --bg-main: hsl(242 100% 78%);
    --bg-nav-btn: hsl(0 0% 100%);
    --bg-timer: hsl(0 0% 100%);
    --bg-primary-control: hsl(0 0% 25%);
    --bg-secondary-controls: hsl(0 0% 100%);


    --c-nav-btn-text: hsl(0 0% 8%);
    --c-timer-text: hsl(0 0% 8%);

    --shadow-nav-btn: hsla(0, 0%, 0%, 0.3);
    --shadow-controls: hsla(0, 0%, 0%, 0.2);

    --clr-purple: 242 100% 78%;
    --clr-grey: 0 0% 25%;
    --clr-black: 0 0% 8%;
    --clr-white: 0 0% 100%;

    --c0: #605ad3;
    --c1: #ff5f5c;    
    --c2: #63D471;
    --c3: #1E91D6;
    --c4: #FCA311;
}

body[data-theme="dark"] {
    --bg-main: hsl(0, 0%, 10%);
    --bg-nav-btn: hsl(0, 0%, 20%);
    --bg-timer: hsl(0, 0%, 20%);
    --bg-primary-control: hsl(0 0% 100%);
    --bg-secondary-controls: hsl(0 0% 20%);


    --c-nav-btn-text: hsl(0 0% 100%);
    --c-timer-text: hsl(0 0% 100%);

    --shadow-nav-btn: hsla(242, 100%, 78%, .7);
    --shadow-controls: hsla(242, 100%, 78%, .6);
    
}

/* ----- =============== ----- */
/* ----- Utility classes ----- */
/* ----- =============== ----- */


.flex {
    display: flex;
}

.hide {
    display: none;
}

.active.active {
    background: transparent;
    color: hsla(0, 0%, 100%, 0.9);
    color: hsl(242 100% 78%);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.38), inset 2px 2px 2px rgba(64, 64, 64, 0.2);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.236), inset 2px 2px 2px rgba(255, 255, 255, 0.236);
    pointer-events: none;
}

.seperator {
    border: none;
    border-bottom: 1px solid #eee;
    margin: .8rem auto;
    /* width: 80%; */
}

.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: .2em 0;
}

.slider {
    position:absolute;
    inset: 0;
    background-color: #ccc;
    outline: 2px solid #404040;
    transition: background .3s;
    cursor: pointer;
}

.slider:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    outline: 2px solid #404040;
    background-color: #fff;
    transition: transform .3s cubic-bezier(0, -0.6, 0.32, 1.6);
}

.slider {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.palette-color-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
}

.radio {
    position: absolute;
    width: 0;
    height: 0;
}

.palette-color {
    position: absolute;
    inset: 0;
    background-color: rgb(255, 75, 75);
    border-radius: 50px;
    cursor: pointer;
}