@font-face {
    font-family: Quicksand;
    font-weight: 500;
    font-display: swap;
    src: local(""), url("../assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
    font-family: Quicksand;
    font-weight: 700;
    font-display: swap;
    src: local(""), url("../assets/fonts/Quicksand-Bold.ttf");
}



/* ----- ================= ----- */
/* ----- Custom Porperties ----- */
/* ----- ================= ----- */


:root {

    /* font-families */
    --ff-quicksand: Quicksand, monospace;

    /* font-sizes */
    --fs-1000: 7.4rem;
    --fs-900: 6.209rem;
    --fs-800: 4.301rem;
    --fs-700: 2.369rem;
    --fs-600: 1.177rem;
    --fs-500: 1.033rem;
    --fs-400: 1rem;
    --fs-300: .65rem;
    --fs-200: .463rem;
    --fs-100: .322rem;

    /* colors */

    /* --c0: hsl(243, 58%, 59%); */
    --c0: 242, 100%, 78%;
    --c1: 1, 100%, 68%;  
    --c2: 127, 57%, 61%;
    --c3: 203, 75%, 48%;
    --c4: 37, 98%, 53%;

}

body[data-theme="light"] {
    --app-accent: var(--c0);

    --bg-main: hsl(var(--app-accent));
    --bg-nav-btn: hsl(0 0% 100%);
    --bg-timer: hsl(0 0% 100%);
    --bg-primary-control: hsl(0 0% 25%);
    --bg-secondary-controls: hsl(0 0% 100%);


    --c-nav-btn-text: hsl(0 0% 8%);
    --c-timer-text: hsl(0 0% 8%);

    --shadow-timer: hsl(0, 0%, 25%);
    --shadow-nav-btn: hsla(0, 0%, 0%, 0.3);
    --shadow-controls: hsla(0, 0%, 0%, 0.2);

    --active-color: hsla(0, 0%, 100%, 0.9);

    --toast-background: hsl(0, 0%, 100%);
    --toast-border: hsl(0, 0%, 25%);
    --toast-before: hsl(0, 0%, 25%);
    --toast-state: hsl(0, 0%, 0%);
    --toast-mesasge: hsl(0, 0%, 37%);
    --toast-icon-info: hsl(240, 100%, 50%);
    --toast-icon-check: hsl(120, 100%, 50%);
    --toast-icon-error: hsl(0, 100%, 50%);

}

body[data-theme="dark"] {
    --bg-main: hsl(0, 0%, 10%);
    --bg-nav-btn: hsl(0, 0%, 20%);
    --bg-timer: hsl(0, 0%, 20%);
    --bg-primary-control: hsl(0 0% 100%);
    --bg-secondary-controls: hsl(0 0% 20%);


    --c-nav-btn-text: hsl(0 0% 100%);
    --c-timer-text: hsl(0 0% 100%);

    --shadow-timer: hsl(var(--app-accent));
    --shadow-nav-btn: hsla(var(--app-accent), .8);
    --shadow-controls: hsla(var(--app-accent), .8);

    --active-color: hsl(var(--app-accent));

    --toast-background: hsl(0, 0%, 20%);
    --toast-border: hsl(var(--app-accent));
    --toast-before: hsl(var(--app-accent));
    --toast-state: hsl(0, 0%, 100%);
    --toast-mesasge: hsl(0, 0%, 93%);
    --toast-icon-info: hsl(240, 100%, 50%);
    --toast-icon-check: hsl(120, 100%, 50%);
    --toast-icon-error: hsl(0, 100%, 50%);

}

/* ----- =============== ----- */
/* ----- Utility classes ----- */
/* ----- =============== ----- */


.flex {
    display: flex;
}

.hide {
    display: none;
}

.active.active {
    background: transparent;
    color: hsla(0, 0%, 100%, 0.9);
    color: var(--active-color);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.38), inset 2px 2px 2px rgba(64, 64, 64, 0.2);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.236), inset 2px 2px 2px rgba(255, 255, 255, 0.236);
    pointer-events: none;
}

.seperator {
    border: none;
    border-bottom: 1px solid #eee;
    margin: .8rem auto;
    /* width: 80%; */
}

.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: .2em 0;
}

.slider {
    position:absolute;
    inset: 0;
    background-color: #ccc;
    outline: 2px solid #404040;
    transition: background .3s;
    cursor: pointer;
}

.slider:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    outline: 2px solid #404040;
    background-color: #fff;
    transition: transform .3s cubic-bezier(0, -0.6, 0.32, 1.6);
}

.slider {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.palette-color-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
}

.radio {
    position: absolute;
    width: 0;
    height: 0;
}

.palette-color {
    position: absolute;
    inset: 0;
    background-color: rgb(255, 75, 75);
    border-radius: 50px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    width: 80%;
    margin: .7rem auto;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid #404040;
    padding: .5em;
    border-radius: .2em;
    cursor: pointer;
}

.select__caret {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 8px solid #404040;
    border-top: 8px solid hsl(243deg 58% 59%);
    transition: .3s transform cubic-bezier(0.34, 1.56, 0.64, 1);
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: .2em .5em;
    outline: 2px solid #404040;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .2);
    position: absolute;
    width: 100%;
    border-radius: .2em;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    display: none;
}

.menu__option {
    padding: .4em .8em;
    margin: .2em 0;
    border-radius: .2em;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}

.menu__sound-preview {
    display: grid;
    place-items: center;
    position: absolute;
    right: 2%;
    font-size: 18px;
    background-color: transparent;
    color: #c4c4c9;
    border-radius: 2px;
    cursor: pointer;
    transform: rotate(180deg);
    display: none;
}

.menu__option:hover .menu__sound-preview {
    display: block;
}

.menu__sound-preview:hover {
    background-color: #c4c4c9;
    color: #404040;
}

.menu__option:hover {
    background-color:hsl(0, 0%, 93%);
}

.menu__option--active,
.menu__option--active:hover {
    background-color: hsl(243deg 58% 59%);
    color: #fff;
}

.menu__option--active:hover .menu__sound-preview {
    color: #fff;
    background-color: transparent;
}

.menu--open {
    display: block;
    opacity: 1;
    animation: fadeInMenu .3s forwards cubic-bezier(0.16, 1, 0.3, 1);
}


@keyframes fadeInMenu {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.volume {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}

.volume__range {
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    outline: 0;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.volume__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: hsl(243deg 58% 59%);
}

.volume__range::-moz-range-thumb {
    width: 16.5px;
    height: 16.5px;
    border: 0;
    border-radius: 100px;
    background: hsl(243deg 58% 59%);
}

.volume__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 2px;
    background-color: hsl(243deg 58% 59%);
}

.volume__value {
    position: absolute;
    top: -55px;
    color: #fff;
    z-index: 2;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: .2s transform ease-in-out;
    line-height: 40px;
    text-align: center;
    inline-size: 1.6em;
}

.volume__value.show{
    transform: translateX(-50%) scale(1);
}

.volume__value:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 35px;
    height: 35px;
    background-color: hsl(243deg 58% 59%);
    z-index: -1;
    transform: translateX(-50%) rotate(45deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}