/* ----- ===== ----- */
/* ----- Fonts ----- */
/* ----- ===== ----- */


body {
    font-family: var(--ff-quicksand);
}

h1 {
    font-size: 2.4rem;
    margin: 0;
}

h2 {
    font-size: var(--fs-900);
    font-weight: 500;
}

h3 {
    font-size: var(--fs-700);
    font-weight: 500;
}

button {
    font-family: inherit;
    font-weight: 700;
}



/* ----- ======= ----- */
/* ----- General ----- */
/* ----- ======= ----- */


body {
    background-color: hsl(var(--bg-main));
    height: 100vh;
    min-height: 100vh;
    user-select: none;
}

button {
    border: none;
    outline: 0;
}

.minits__container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 1em .5em;
    /* outline: 2px solid #fff; */    
    position: relative;
}

.minits__header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* outline: 2px solid #fff; */
    position: relative;
}

.minits__logo {
    color: #fff;
}

.minits__settings {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    z-index: 10;
}

.minits__timer-container {
    margin: 2rem auto;
    max-width: 290px;
    width: 100%;
    /* outline: 2px solid #c0000c; */
}

.minits__nav {
    margin: 0 auto;
    width: 100%;
}

.minits__list {
    margin: 0 auto;
    justify-content: space-between;
}

.minits--nav-btn {
    padding: .7em;
    border-radius: 3px;
    background-color: hsl(var(--bg-nav-btn));
    box-shadow: 2px 2px 0px 0px hsla(0, 0%, 0%, 0.3);
    cursor: pointer;
    transition: .1s transform ease-in-out;
}

.minits--nav-btn:active {
    
    transform:translateY(2px);
    box-shadow: none;
}

.minits__timer-outter {
    width: 100%;
    margin: 4rem auto;
    max-width: 290px;
    background-color: hsl(var(--bg-timer));
    box-shadow: -8px 7px 0px #404040;
    border-radius: 20px;
}

.minits__timer-inner {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.minits__time {
    margin: 0;
    padding: .1em 0;
}

.minits__controls {
    width: 85%;
    margin: 4.5rem auto;
    justify-content: space-between;
    align-items: center;
    /* outline: solid 2px yellow; */
}

.minits__controls button:active {
    transform:translateY(3px);
    box-shadow: none;
}

.minits__ambience,
.minits__pause-play,
.minits__reset {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color: hsl(var(--bg-secondary-controls));
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#reset-icon,
#ambience_off-icon,
#ambience_on-icon {
    transform: scale(1);
}

.minits__pause-play {
    width: 65px;
    height: 65px;
    background-color: hsl(var(--bg-primary-control));
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
}

#play-icon,
#pause-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(340deg) brightness(104%) contrast(102%);
    transform: scale(1.2);
}

.minits__settings-popup {
    height: 660px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    /* top: 2%;
    right: -13%;
    opacity: 0; */
    top: 2%;
    right: 0px;
    /* transform: translateX(50%); */
    animation: .3s translateIn ease-in-out forwards;
    /* z-index: -1; */
    max-width: 320px;
    padding: .4em 1em;
}

.minits__settings-header {
    /* outline: 2px solid red; */
}

.minits__settings-title {
    margin: 0;
}

.minits__settings-nav {
    list-style: none;
    padding: .2rem;
    justify-content: space-around;
    outline: 2px solid #404040;
    border-radius: 3px;
    gap: .2rem;
}

.minits__settings-nav li {
    width: 100%;
    height: 100%;
}

.minits__settings-nav-btn {
    width: 100%;
    padding: .5rem;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

.minits__settings-nav-btn:hover {
    filter: invert(38%) sepia(15%) saturate(3571%) hue-rotate(211deg) brightness(96%) contrast(95%); 
}

.minits__settings-controls-wrapper {
   outline: 2px solid #404040;
   height: 485px; 
   border-radius: 3px;
}

.minits__settings-appearance {
    background-color: cornflowerblue;
}

.minits__settings-sound {
    background-color: #c0c0c0;
}

.minits__settings-type {
    padding: .5em;
    display: block;
    background-color: #404040;
    text-align: center;
    color: #fff;
    position: relative;
}

.minits__settings-type:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: .3em;
    background-color:hsl(243deg 58% 59%);
    border-radius: 50%;
}

.minits__settings-controls {
    margin: 1rem auto;
    height: 90%;
    max-height: 420px;
}

.child {
    height: 100%;
    width: 100%;
    /* background-color: #eee; */
}

.section-title {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: .5em .4em;
    background-color: #eee;
}

.minits__settings-timer-controls {
    padding: .5em .8rem;
}

.minits__settings-timer-pomodoro {
    justify-content: space-between;
    align-items: center;
    margin: .3rem auto;
    background-color: yellow;
}

input {
    width: 60px;
    padding: .5em;
    border: 2px solid hsl(243deg 58% 59%);
    border-radius: 3px;
}

input[type=checkbox] {
    width: 0px;
    height: 0px;
}

input:checked+.slider {
    background-color: hsl(243deg 58% 59%); 
    /* background-color: #404040;  */
}

input:checked+.slider:before {
    transform: translateX(25px);
}

.tex {
    background-color: hsl(243deg 58% 59%);
    pointer-events: none;
}

.tex svg {
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(267deg) brightness(119%) contrast(104%);
}

@keyframes translateIn {

    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* .moveLeft {
    transform: translateX(-230px);
} */

/* ----- ============= ----- */
/* ----- Media-queries ----- */
/* ----- ============= ----- */


@media (min-width: 375px) {

    .minits__timer-container {
        max-width: 325px;
    }

    .minits--nav-btn {
        padding: .7em 1em;
    }

    .minits__controls {
        max-width: 245px;
    }

}


@media (min-width: 768px) {

    .minits__timer-container {
        max-width: 385px;
    }

    .minits--nav-btn {
        font-size: var(--fs-400);
        box-shadow: 2.5px 2.5px 0px 0px hsla(0, 0%, 0%, 0.3);
    }

    .minits__timer-outter {
        max-width: 300px;
    }

    .minits__controls {
        max-width: 250px;
    }

}

@media (min-width: 1024px) {
    
    h1 {
        font-size: 3rem;
    }

    .minits__container {
        justify-content: space-between;
    }

    .minits__settings {
        width: 45px;
        height: 45px;
    }

    .minits__timer-container {
        max-width: 420px;
        height: 75%;
    }

    .minits--nav-btn {
        font-size: var(--fs-500);
        border-radius: 4px;
        padding: .7em 1.1em;
        box-shadow: 3px 3px 0px 0px hsla(0, 0%, 0%, 0.3);
    }

    .minits__timer-outter {
       max-width: 330px; 
    }

    .minits__time {
        padding: .15em 0;
    }

    .minits__controls {
        max-width: 280px;
    }

    .minits__ambience,
    .minits__reset {
        width: 60px;
        height: 60px;
    }

    #reset-icon,
    #ambience_off-icon,
    #ambience_on-icon {
    transform: scale(1.1);
    }

    .minits__pause-play {
        width: 70px;
        height: 70px;
    }

    #play-icon,
    #pause-icon {
    transform: scale(1.3);
    }


}


@media (min-width: 1400px) {
    
    .minits__container {
        max-width: 1300px;
    }

    h1 {
        font-size: 3.2rem;
    }

    .minits__settings {
        width: 50px;
        height: 50px;
    }

    .minits__timer-container {
        /* outline: 2px solid red; */
        max-width: 465px;
    }

    .minits--nav-btn {
        font-size: var(--fs-600);
    }

    .minits__timer-outter {
        max-width: 360px;
    }

    .minits__time {
        font-size: var(--fs-1000);
        padding: .1em;
    }

    .minits__controls {
        max-width: 300px;
    }

    .minits__ambience,
    .minits__reset {
        width: 70px;
        height: 70px;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    }

    #reset-icon,
    #ambience_off-icon,
    #ambience_on-icon {
    transform: scale(1.3);
    }

    .minits__pause-play {
        width: 80px;
        height: 80px;
        box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    #play-icon,
    #pause-icon {
    transform: scale(1.5);
    }

}