.toast {
    width: calc(100% - 5rem);
    max-width: 400px;
    /* height: 60px; */
    position: absolute;
    bottom: 0%; 
    left: 50%;
    transform: translateX(-50%);
    outline: 2px solid #fff;
}

.toast__item {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    padding: .8rem;
    background: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: 2px solid #404040;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}