.toast {
    position: fixed;
    width: calc(100% - 5rem);
    max-width: 400px;
    position: absolute;
    bottom: 0%; 
    left: 50%;
    transform: translateX(-50%);
    /* outline: 2px solid #fff; */
}

.toast__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
    padding: .3rem .8rem;
    background: var(--toast-background);
    color: #000;
    outline: 2px solid var(--toast-border);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.toast__item:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: var(--toast-before);
    padding: 0 .3rem;
    height: calc(100% + 1px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toast__item span {
    /* outline: 2px solid red; */
}
